<!--  Replace menu links here -->

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Creators</a>
</li>

<li class="nav-item dropdown show">
  <a
    class="dropdown-toggle nav-link"
    data-toggle="dropdown"
    aria-expanded="false"
    href="#"
    >More</a
  >
  <div class="dropdown-menu" role="menu">
    <a
      class="dropdown-item"
      role="presentation"
      href="{{site.baseurl}}/categories.html"
      >Categories</a
    >
    <a
      class="dropdown-item"
      role="presentation"
      href="{{site.baseurl}}/about.html"
      >About</a
    >
    <a
      class="dropdown-item"
      role="presentation"
      href="{{site.baseurl}}/contact.html"
      >Contact</a
    >
  </div>
</li>

<li class="nav-item">
  <a
    target="_blank"
    class="nav-link"
    href="https://www.buymeacoffee.com/zAEGMlq"
    ><i class="fa fa-coffee text-danger"></i>&nbsp Buy me a coffee
  </a>
</li>
