<!--  Replace menu links here -->

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Creators</a>
</li>

<li class="nav-item">
  <a
    target="_blank"
    class="nav-link"
    href="https://www.buymeacoffee.com/zAEGMlq"
    >Buy me a coffee <i class="fa fa-coffee text-danger"></i
  ></a>
</li>
<li class="nav-item">
  <div class="dropdown">
    More <i class="fas fa-caret-down"></i>
    <div class="dropdown-content">
      <a class="nav-link" href="{{site.baseurl}}/categories.html">Categories</a>
      <a class="nav-link" href="{{site.baseurl}}/about.html">About</a>
      <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact us</a>
    </div>
  </div>
</li>
